
#reasons {
    margin-top: 0;
}
#reasons .reasons-content {
    display: inline;
    justify-content: space-between;
    color: #8AC6D0;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
}
#reasons .reasons-content .reason {
    width: 100%;
    border-left: 2px solid  #8AC6D0;
}
#reasons .reason:first-of-type {
    border-left: none;
}
#reasons .reason p {
    text-align: center;
}
#reasons .reason .reason-value {
    font-size: 32px;
    font-weight: 400;
}
#reasons .reason .reason-label {
    font-size: 24px;
    font-weight: 300;    
    color: #8f90a6;
}
